.menuContainer {
    width: 100%;
    display: flex;
}

.menuTopics {
    margin-right: 200px;
    font-weight: 300;
    font-size: 20px;
}

.menuTopics:hover {
    cursor: pointer;
}
hr{
    margin-top: 10px;
}